html {
  font-size: 62.5%;
  font-family: "Times New Roman", Times, serif;
}
body {
  margin: 1rem 1.5rem;
  background-color: rgb(244, 244, 255);
  color: rgb(36, 36, 36);
  font-size: 1.6rem;
}
nav {
  background-color: rgb(132, 169, 236);
  padding: 1rem;
  margin: 1rem 0rem;
  font-size: 2rem;
  text-align: center;
}

a {
  color: rgb(3, 3, 3);
  text-decoration: none;
}
nav ul li {
  list-style-type: none;
  display: inline-block;

  padding-right: 1rem;
}
nav a:focus,
nav a:hover {
  background-color: rgb(108, 145, 214);
}
h1 {
  text-align: center;
}

main {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}
main h2 {
  font-size: 2.7rem;
}
main p {
  font-size: 2rem;
}
main ol li {
  font-size: 2rem;
}
main ol {
  line-height: 2.7rem;
}
footer {
  background-color: rgb(132, 169, 236);
  padding: 1rem;
  margin: 1rem 0rem;
}
